@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light mode */
    color: black;
    background-color: hsla(220, 69%, 97%, 1);
  }
  .dark {
    background-color: hsla(235, 16%, 15%, 1);
    color: hsla(0, 0%, 100%, 1);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    background-color: transparent;
    @apply border-gray/20 border-[2px];
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px hsla(235, 16%, 15%, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(173, 168, 168, 0.5);
}
