.dropdown-header {
  border-radius: 5px;
  border: 2px solid hsla(216, 15%, 57%, 1);
  padding: 8px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 80%;
  margin-top: 0.5em;
  border-radius: 5px;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  /* transition: all 0.5s ease-in-out; */
}
